@use './colors.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: $neutral_white;
  color: $neutral_darker_black;

  -webkit-font-smoothing: antialiased;
  hyphens: auto;
  max-height: 100vh;
  overflow: hidden;
}

body,
input,
textarea,
button {
  font:
    400 16px 'Lato',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p,
span,
a {
  font-size: 16px;
}

a {
  color: $primary_emerald;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      filter: brightness(1);
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
